In [1]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_excel (r'E:data_absen.xlsx', sheet_name='Sheet1')

In [13]:
data.shape

(740, 21)

In [14]:
data.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554.0,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554.0,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554.0,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554.0,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554.0,...,0,1,2,1,0,1,90,172,30,2

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
ID                                 740 non-null int64
Reason for absence                 740 non-null int64
Month of absence                   740 non-null int64
Day of the week                    740 non-null int64
Seasons                            740 non-null int64
Transportation expense             740 non-null int64
Distance from Residence to Work    740 non-null int64
Service time                       740 non-null int64
Age                                740 non-null int64
Work load Average/day              740 non-null float64
Hit target                         740 non-null int64
Disciplinary failure               740 non-null int64
Education                          740 non-null int64
Son                                740 non-null int64
Social drinker                     740 non-null int64
Social smoker                      740 non-null int64
Pet                                740 non-null int64
Weight                             740 non-null int64
Height                             740 non-null int64
Body mass index                    740 non-null int64
Absenteeism time in hours          740 non-null int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

In [16]:
data.isnull().sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

In [20]:
data['Absenteeism time in hours'].describe()

count    740.000000
mean       6.924324
std       13.330998
min        0.000000
25%        2.000000
50%        3.000000
75%        8.000000
max      120.000000
Name: Absenteeism time in hours, dtype: float64

In [21]:
#Imputasi
data['Absenteeism time in hours']=data['Absenteeism time in hours'].fillna((data['Absenteeism time in hours'].median()))

In [22]:
data.isnull().any()

ID                                 False
Reason for absence                 False
Month of absence                   False
Day of the week                    False
Seasons                            False
Transportation expense             False
Distance from Residence to Work    False
Service time                       False
Age                                False
Work load Average/day              False
Hit target                         False
Disciplinary failure               False
Education                          False
Son                                False
Social drinker                     False
Social smoker                      False
Pet                                False
Weight                             False
Height                             False
Body mass index                    False
Absenteeism time in hours          False
dtype: bool

## Label encoder

In [23]:
from sklearn.preprocessing import LabelEncoder
data['Social drinker'] = LabelEncoder().fit_transform(data['Social drinker'])
data.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554.0,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554.0,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554.0,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554.0,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554.0,...,0,1,2,1,0,1,90,172,30,2

## Label Encoder

In [24]:
y = data['Absenteeism time in hours']
X = data.drop(['Absenteeism time in hours'], axis=1)

In [25]:
# Feature Importance with Extra Trees Classifier
from sklearn.ensemble import ExtraTreesClassifier
# feature extraction
model = ExtraTreesClassifier(random_state=99)
model.fit(X, y)
print(model.feature_importances_)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

[0.0222783  0.20252525 0.10252844 0.14373783 0.052276   0.02573509
 0.02126674 0.01845299 0.01546019 0.11376174 0.10475603 0.05600105
 0.00769183 0.0231665  0.01008766 0.00495338 0.01431256 0.02445352
 0.01599247 0.02056241]

## Chi Square

In [26]:
# Chi Square
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [27]:
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, y)

In [28]:
# Summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)
# Summarize selected features
print(features[0:5,:])

[1.933e+02 1.316e+03 7.598e+01 1.710e+01 2.178e+01 1.684e+03 2.242e+02
 3.408e+01 3.606e+01 5.794e+05 5.757e+00 6.327e+02 6.053e+00 7.463e+01
 1.786e+01 1.959e+01 6.625e+01 5.357e+01 9.322e+00 1.711e+01]
[[2.600e+01 2.890e+02 2.396e+05 0.000e+00]
 [0.000e+00 1.180e+02 2.396e+05 1.000e+00]
 [2.300e+01 1.790e+02 2.396e+05 0.000e+00]
 [7.000e+00 2.790e+02 2.396e+05 0.000e+00]
 [2.300e+01 2.890e+02 2.396e+05 0.000e+00]]

In [29]:
score_summary = pd.DataFrame({'score_list': fit.scores_, 'feature_list': X.columns})

In [30]:
score_summary = score_summary.sort_values('score_list', ascending=False)
score_summary

       score_list                     feature_list
9   579421.305208           Work load Average/day
5     1684.221351           Transportation expense
1     1316.196619               Reason for absence
11     632.727273             Disciplinary failure
6      224.214106  Distance from Residence to Work
0      193.289435                               ID
2       75.982026                 Month of absence
13      74.629259                              Son
16      66.250188                              Pet
17      53.572587                           Weight
8       36.058223                              Age
7       34.078290                     Service time
4       21.780830                          Seasons
15      19.590209                    Social smoker
14      17.858230                   Social drinker
19      17.112537                  Body mass index
3       17.104905                  Day of the week
18       9.322377                           Height
12       6.052763                        Education
10       5.757308                       Hit target

## Recursive Feature Elimination

In [31]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [32]:
model = LogisticRegression()
rfe = RFE(model, 3)
fit = rfe.fit(X, y)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

Num Features: 3
Selected Features: [False False False  True False False False False False False False  True
  True False False False False False False False]
Feature Ranking: [16 11 10  1  4 17 12  9  8 18 13  1  1  6  2  5  3 14 15  7]

In [35]:
feature_summary_rfm = pd.DataFrame({'feature_list': X.columns, 'feature_ranking': fit.ranking_, 'selected_features': fit.support_})

In [36]:
feature_summary_rfm = feature_summary_rfm.sort_values('feature_ranking')
feature_summary_rfm

                       feature_list  feature_ranking  selected_features
3                   Day of the week                1               True
12                        Education                1               True
11             Disciplinary failure                1               True
14                   Social drinker                2              False
16                              Pet                3              False
4                           Seasons                4              False
15                    Social smoker                5              False
13                              Son                6              False
19                  Body mass index                7              False
8                               Age                8              False
7                      Service time                9              False
2                  Month of absence               10              False
1                Reason for absence               11              False
6   Distance from Residence to Work               12              False
10                       Hit target               13              False
17                           Weight               14              False
18                           Height               15              False
0                                ID               16              False
5            Transportation expense               17              False
9            Work load Average/day                18              False

## PCA

In [38]:
X = data.drop(['Absenteeism time in hours'], axis=1)

In [39]:
from sklearn.decomposition import PCA

In [40]:
# feature extraction
pca = PCA(n_components=2)
fit = pca.fit(X)

In [41]:
# summarize components
print(fit.components_)

[[-1.815e-06  9.967e-06  5.285e-06 -6.785e-07 -3.138e-06  2.938e-05
   4.489e-06  3.529e-06  9.210e-06 -1.000e+00 -1.672e-06 -2.243e-07
   7.826e-09 -8.037e-07  5.083e-07  1.718e-08  2.221e-07  8.449e-06
  -3.553e-06  3.779e-06]
 [-3.810e-02 -1.505e-02  6.849e-03  7.828e-04  6.871e-04  9.956e-01
   6.109e-02 -2.298e-02 -2.288e-02  2.886e-05 -4.453e-03  3.696e-04
  -5.475e-04  6.268e-03  1.079e-03  1.721e-04  7.886e-03 -4.154e-02
  -1.802e-02 -9.126e-03]]